@tailwind base;
@tailwind components;
@tailwind utilities;

.container_search {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 60px;
}

.container_kit {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 30px;
}

.container_searchform {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(216, 205, 208, 0.3);
}

.container_text {
  text-align: center;
  color: #4f3720;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
}

.container_form {
  display: flex;
  flex-direction: row;
}

.form {
  display: flex;
  justify-content: center;
  color: #ffffff;
}

.option {
  font-family: "Roboto", sans-serif;
}

.modal_container {
  display: block;
  background-color: rgb(216, 205, 208, 0.3);
  padding: 25px;
  text-align: center;
}
